* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}
.container-1 {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}
.container-2 {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0;
}
.container-3 {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
}
