@import "silent-class";
@import "vars";

// Градиент и тени
.main {
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  background-image: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  @extend %border-shadow;
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 20px;
    left: 20px;
    height: 10px;
    background-color: #cacadb;
    @extend %border-shadow;
  }
  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    right: 40px;
    left: 40px;
    height: 10px;
    background-color: #e7e7f2;
    @extend %border-shadow;
  }

  // Header

  .header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //   Лого и контакты

    .logo-container {
      display: flex;
      align-items: flex-start;
    }
    .header-contacts {
      display: flex;
      align-items: center;

      .langs-list {
        display: flex;
        margin: 0;
        padding-left: 0;
        list-style: none;
      }
      .lang-btn {
        display: block;
        padding: 5px 6px;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        color: $color-constant-1;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
      }

      .address,
      .phone-number,
      .social-link {
        display: flex;
        align-items: center;
        font-weight: normal;
        color: $color-constant-1;
        text-decoration: none;
        @extend %font-links-header;
      }
      .phone-number {
        font-weight: bold;
      }

      .address::after,
      .phone-number::after,
      .social-link::after {
        @extend %pseudo-header-links;
      }

      .address:hover,
      .phone-number:hover,
      .social-link:hover {
        color: $nav-link-hover;
      }

      .lang-btn:hover {
        box-shadow: inset 0 0 0 2px $color-hover-btn;
      }

      .lang-btn-active {
        background-color: $color-hover-btn;
      }
    }

    // ===============
    //  Навигация

    .header-nav {
      display: flex;
      justify-content: flex-end;
      gap: 0 15px;
      margin-top: 16px;

      .nav-link {
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        @extend %font-links-header;
        &:hover {
          color: $nav-link-hover;
        }
      }
    }
    // Блок с логотипом
    //  .main-logo {
    //    background-image: url(../img/logo/Logo-main.svg);
    //  }

    // ============
  }
  // ==========

  // Цели
  .goals-wrapper {
    margin-top: 60px;
    padding: 0 120px;
    display: flex;
    .goals {
      flex-shrink: 1;
      flex-grow: 1;
      padding: 14.5px 60px 14.5px 0;
      gap: 30px;
      max-width: 35%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-right: 4px solid rgba(255, 255, 255, 0.3);
      .goal-item {
        @extend %custom-font;
        color: #b3b3ba;
      }
      .custom-item1 {
        @extend %custom-font;
        @extend %gradient-1;
      }
      .custom-item2 {
        color: #f0145a;
      }
    }
    .goal-slogan {
      padding: 73px 0 73px 60px;
      max-width: 65%;
      .goal-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: $color-constant-1;
      }
      .goal-text {
        margin-top: 30px;
        font-size: 19px;
        line-height: 30px;
        color: $color-constant-1;
      }
    }
  }

  // Ссылка и слоган перед карточками
  .services-link {
    margin-top: 60px;
  }
  .slogan {
    width: fit-content;
    margin-top: 10px;
    @extend %custom-font;
    @extend %gradient-1;
  }

  //   Карточки

  .services-cards {
    margin: 60px 0 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 60px;

    .services-card {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 493px;

      .card-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
      .card-title {
        margin-top: 30px;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #24a3ff;
        font-weight: 500;
      }
      .card-text {
        margin: 15px 0 0;
        @extend %card-text-font;
      }
    }
  }
}
