.main::after, .main::before, .main {
  border-radius: 0px 0px 12px 12px;
  -webkit-box-shadow: 0px 5px 6px -4px #223c50;
  -moz-box-shadow: 0px 5px 6px -4px #223c50;
  box-shadow: 0px 5px 6px -4px #223c50;
}

.main .header .header-contacts .address::after,
.main .header .header-contacts .phone-number::after,
.main .header .header-contacts .social-link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.main .header .header-nav .nav-link, .main .header .header-contacts .address,
.main .header .header-contacts .phone-number,
.main .header .header-contacts .social-link {
  font-size: 16px;
  line-height: 20px;
}

.main .services-cards .services-card .card-text {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.main .slogan, .main .goals-wrapper .goals .custom-item1, .main .goals-wrapper .goals .goal-item {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.main .slogan, .main .goals-wrapper .goals .custom-item1 {
  background-image: linear-gradient(90deg, #f0145a, #ef8080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main {
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.main::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 10px;
  background-color: #cacadb;
}
.main::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 40px;
  left: 40px;
  height: 10px;
  background-color: #e7e7f2;
}
.main .header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .header .logo-container {
  display: flex;
  align-items: flex-start;
}
.main .header .header-contacts {
  display: flex;
  align-items: center;
}
.main .header .header-contacts .langs-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.main .header .header-contacts .lang-btn {
  display: block;
  padding: 5px 6px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #ffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.main .header .header-contacts .address,
.main .header .header-contacts .phone-number,
.main .header .header-contacts .social-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: #ffff;
  text-decoration: none;
}
.main .header .header-contacts .phone-number {
  font-weight: bold;
}
.main .header .header-contacts .address:hover,
.main .header .header-contacts .phone-number:hover,
.main .header .header-contacts .social-link:hover {
  color: #c1446b;
}
.main .header .header-contacts .lang-btn:hover {
  box-shadow: inset 0 0 0 2px #f0145a;
}
.main .header .header-contacts .lang-btn-active {
  background-color: #f0145a;
}
.main .header .header-nav {
  display: flex;
  justify-content: flex-end;
  gap: 0 15px;
  margin-top: 16px;
}
.main .header .header-nav .nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.main .header .header-nav .nav-link:hover {
  color: #c1446b;
}
.main .goals-wrapper {
  margin-top: 60px;
  padding: 0 120px;
  display: flex;
}
.main .goals-wrapper .goals {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 14.5px 60px 14.5px 0;
  gap: 30px;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
.main .goals-wrapper .goals .goal-item {
  color: #b3b3ba;
}
.main .goals-wrapper .goals .custom-item2 {
  color: #f0145a;
}
.main .goals-wrapper .goal-slogan {
  padding: 73px 0 73px 60px;
  max-width: 65%;
}
.main .goals-wrapper .goal-slogan .goal-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffff;
}
.main .goals-wrapper .goal-slogan .goal-text {
  margin-top: 30px;
  font-size: 19px;
  line-height: 30px;
  color: #ffff;
}
.main .services-link {
  margin-top: 60px;
}
.main .slogan {
  width: fit-content;
  margin-top: 10px;
}
.main .services-cards {
  margin: 60px 0 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 60px;
}
.main .services-cards .services-card {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 493px;
}
.main .services-cards .services-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.main .services-cards .services-card .card-title {
  margin-top: 30px;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
  font-weight: 500;
}
.main .services-cards .services-card .card-text {
  margin: 15px 0 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.main, .main::before, .main::after {
  border-radius: 0px 0px 12px 12px;
  -webkit-box-shadow: 0px 5px 6px -4px #223c50;
  -moz-box-shadow: 0px 5px 6px -4px #223c50;
  box-shadow: 0px 5px 6px -4px #223c50;
}

.main .header .header-contacts .address::after,
.main .header .header-contacts .phone-number::after,
.main .header .header-contacts .social-link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.main .header .header-contacts .address,
.main .header .header-contacts .phone-number,
.main .header .header-contacts .social-link, .main .header .header-nav .nav-link {
  font-size: 16px;
  line-height: 20px;
}

.main .services-cards .services-card .card-text {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.main .goals-wrapper .goals .goal-item, .main .goals-wrapper .goals .custom-item1, .main .slogan {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.main .goals-wrapper .goals .custom-item1, .main .slogan {
  background-image: linear-gradient(90deg, #f0145a, #ef8080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=import.css.map */
